a:link    {color:gray; background-color:transparent; text-decoration:none}
a:visited {color:gray; background-color:transparent; text-decoration:none}
a:hover   {color:gray; background-color:transparent; text-decoration:underline}
a:active  {color:gray; background-color:transparent; text-decoration:underline}


.credit {
  text-align: left;
}

ul {
  list-style-type: none;
}