.results {
    text-align: center;
}

.results-body {
    background-color: white;
    font-weight: normal;
    text-align: left;
}


.results-body tr th {
    font-weight: normal;
}

.result-container {
    
    margin : auto;
    margin-top :2vh;
    width: 95%;
}

.result-container table {
    width: 100%;
}